:root,:host{ 
    --glass-frost: 0.1;
    --glass-saturation: 1.2;
    --filter-id: url(#glass-filter-_r_b_);
}

body {
    margin: 0;
    padding: 0;
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background: url(https://images.unsplash.com/photo-1551384963-cccb0b7ed94b?q=80&w=3247&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) center / cover;
  overflow:auto;
  color:white;
}

.liquidglass{
    position: fixed;
    left:50%;
    top:50%;
    transform:translate(-50%);
    z-index: 1;
    width: 340px;
    background: hsl(0 0% 0% / var(--glass-frost, 0));
    -webkit-backdrop-filter: var(--filter-id,url(#glass-filter))saturate(var(--glass-saturation,1));
    backdrop-filter: var(--filter-id, url(#glass-filter)) saturate(var(--glass-saturation, 1));
    box-shadow: inset 0 0 2px 1px #ffffff59, inset 0 0 10px 4px #ffffff26, inset 0 4px 16px #11111a0d, inset 0 8px 24px #11111a0d, inset 0 6px 56px #11111a0d;
    box-shadow: inset 0 0 2px 1px lab(100% 0 0 / .35), inset 0 0 10px 4px lab(100% 0 0 / .15), inset 0 4px 16px lab(5.32203% 1.61424 -5.88284 / .0509804), inset 0 8px 24px lab(5.32203% 1.61424 -5.88284 / .0509804), inset 0 6px 56px lab(5.32203% 1.61424 -5.88284 / .0509804);
    border-radius: 9999px;
    height: 140px;
    pointer-events: none;
}
.glass-surface__filter{
    pointer-events: none;
    opacity: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
}
